.header
  img.silex-logo-small(src='assets/logo-silex-small.png')
  h1.title
    | Keralahost Dashboard
  button.close-btn(type="button")
  
.body
  .top
    .pane.open-pane
      h2 Open an existing website
      ul.list
      .btn.more-btn Import...
      .btn.clear-btn Clear this list
    
      .container
  //- .pane.blank-page-pane
  //-   h2 Blank layouts
  //-   ul.rendered-list.small-items
  .pane.general-pane
    h2 Start with a template
    ul.rendered-list
